.header {
	display: block;
	width: 100%;
	background-color: skyblue;

	&__menu {
		margin: 0;
	}
}

.header-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	padding: 0;
	list-style: none;
}